@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

body {
  color: var(--text);
  background-color: var(--background);
  font-family: "Kanit", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}

#body,
#header {
  /* border: 1px solid var(--text); */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#body::-webkit-scrollbar,
#header::-webkit-scrollbar {
  display: none;
}

#flex-container {
  display: flex;
  flex-direction: column;
}

#new-round-form {
  border: 2px solid red;
  display: none;
}

#top-bar {
  height: 5rem;
}

.round_row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 0.2rem;
  padding: 0.2rem;
  height: var(--round-row-height);
}

.round_nick {
  /* transform-origin: right bottom; */
  flex-grow: 0;
  flex-shrink: 0;
  /* white-space: nowrap; */
}

.round_nick > p {
  transform: rotate(-90deg);
  width: var(--round-row-height);
}

.round_img {
  /* border: 1px solid var(--accent); */
  border-radius: 5px;
  margin: 0.2rem;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  background-size: 100%; /* Resize the background image to cover the entire container */
}

#flex-container:hover > * {
  opacity: 0.5;
  transition: opacity 0.3s ease, background-size 0.2s ease;
}

#flex-container:hover > *:hover {
  background-size: 120%;
  opacity: 1;
}

#logo {
  height: 5vh;
  padding: 1vh;
}

@media screen and (orientation: landscape) {
  body {
    flex-direction: row;
  }
  #body,
  #header {
    overflow-y: scroll;
  }
  #header {
    width: 30vw;
  }
  #body {
    width: 65vw;
  }

  #flex-container::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 25px;
    background: linear-gradient(var(--background), rgba(255, 255, 255, 0.001));
  }
  #flex-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    background: linear-gradient(rgba(255, 255, 255, 0.001), var(--background));
  }
}

@media screen and (orientation: portrait) {
  body {
    flex-direction: column;
    overflow-y: scroll;
  }
}
